@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html, body{ height:100%; margin:0px; padding:0px; }
body { overflow-x: hidden; font-family: 'Product Sans', Arial, sans-serif;}
*{ outline:none; }
a:hover,
a:focus,
a:active,
a.active { outline: 0;}
a { color: #127dc1;}
.clearfix{ zoom:1;}
img{max-width:100%;}
.clearfix::after{ content:''; clear:both; display:block; visibility:hidden;}
ul{ padding:0px; margin:0px;}
ul li{ list-style-position:inside;}

/*Header CSS*/
header { padding: 6px 0px 10px; border-top: 5px solid #1f1a17;}
.header-menu nav a { font-size: 12px; text-transform: uppercase; color: #a9a9a9; display: inline-block; padding: 0px 10px; text-decoration: none; -webkit-transition:.4s; -moz-transition:.4s; -ms-transition:.4s; -o-transition:.4s; transition:.4s;}
.header-menu nav a:last-of-type { padding-right: 0px;}
.header-menu nav a + a { border-left: 1px solid #999; line-height: 13px;}

/*Menu CSS*/
.menu-area { background: #13100e;}
.header-menu nav { padding: 12px 0px 0px;}
.header-menu nav a:hover { color: #603813; text-shadow: 0px 0px 0px #603813;}
.menu-area ul li { list-style-type: none; display: inline-block; position: relative; float: left; -webkit-transition:.4s; -moz-transition:.4s; -ms-transition:.4s; -o-transition:.4s; transition:.4s;}
.menu-item-has-children:after { position: absolute; content: ''; border-top: 5px solid #fff; border-right: 5px solid transparent;    border-left: 5px solid transparent;  top: 16px;  right: -1px;}
.menu-item-has-children {  position: relative;}
.menu-area ul > li > ul{ position:absolute; background: #1F1A17; min-width: 160px; display:none; border-bottom: 5px solid #8C5F3C;    padding-bottom: 10px;}
 ul.sub-menu li a {text-transform: none !important; padding: 5px 10px !important;}
.menu-area ul > li:hover > ul{ display:block;}
.menu-area ul{ float:left; z-index:9;}
.menu-area ul li a { padding: 12px 10px; display: block; text-transform: uppercase; color: #fff; font-size: 12px; -webkit-transition:.4s; -moz-transition:.4s; -ms-transition:.4s; -o-transition:.4s; transition:.4s;}
.menu-area ul li a:hover{ text-decoration:none; background: rgba(255, 255, 255, 0.08);} 
.menu-area ul li.active > a{ text-decoration:none; background: rgba(255, 255, 255, 0.08);} 
.menu-area ul > li > ul li { display: block; float: none; border-bottom: 1px solid #352F2B;}
.menu-area ul > li > ul li:hover { border-left: 5px solid #8C5F3C;}
.mobile-btn { display: none;float: left; margin: 6px 0px; background: #fff; border: 0px solid; color: #333; border-radius: 4px; width: 35px; height: 30px; font-size: 20px; -webkit-transition:.4s; -moz-transition:.4s; -ms-transition:.4s; -o-transition:.4s; transition:.4s;}
.mobile-btn:hover { background: #8C603C; color: #fff;}
li.has-children:after { position: absolute; content: ""; border-top: 4px solid #fff; border-left: 4px solid transparent; border-right: 4px solid transparent; top: 50%; right: 0px; margin-top: -2px;}

/*Search Box CSS*/
.search-box form{ position:relative;}
.search-box input[type="text"] { width: 170px; box-sizing: border-box; border: 0px; padding: 7px 32px 7px 15px; font-size: 12px; text-transform:capitalize; font-family: 'Product Sans', Arial, sans-serif; }
.search-box button { position: absolute; top: 0px; right: 0px;}
.search-box button { position: absolute; top: 0px; right: 0px; background: #b1b1b1; border: 0px; bottom: 0px; width: 32px; color: #666666;}
.search-box.pull-right { display: inline-block;margin-top: 8px; position: absolute;}

/*Slider CSS*/
.slide-heading { font-size: 30px; max-width: 410px; width: 100%; position: relative;}
.slide-des { font-size: 14px; max-width: 347px;}
.button-area a, .button-area input#submit, .button-area  input[type="submit"] { background: #1f1a17; color: #fff; text-decoration: none; padding: 4px 12px; display: inline-block; clear: both; border: 2px solid #fff; margin: 10px 0px 0px; border-radius: 3px; -webkit-transition:.4s; -moz-transition:.4s; -ms-transition:.4s; -o-transition:.4s; transition:.4s;}
.button-area input#submit, .button-area  input[type="submit"] { padding: 4px 21px; margin: 0px;}
.carousel-caption{ height:210px;}
.button-area a:hover, .button-area input#submit:hover, .button-area  input[type="submit"]:hover{ background: #FFF; color: #333; text-shadow: 0px 0px 0px #333; border-radius: 0px;}


/*Page Heading CSS*/
.page-heading { background: url(../images/heading-bg.jpg) no-repeat; color: #999999; font-size: 16px; padding: 10px 0px;   background-size: cover;}
.page-heading strong { font-size: 20px; letter-spacing: 1px; font-weight: 900;}

/*Content CSS*/
.content-area { background: url(../images/content-bg.jpg) repeat; background-size: inherit; padding: 30px 0px 50px;}
.content-area h3 { color: #999999; margin: 0px; margin-bottom: 15px;}
.content-area p { color: #ccc;}
.seprater { border: 1px solid #333333; border-style: dashed; margin: 15px 0px 25px;}
.btn-info i { position: absolute; right: 30px; top: 50%; bottom: 0px; margin-top: -8px;}
.contact-form { border: 3px solid #666666; background: #1f1a17; padding: 10px; color: #cccccc; max-width: 300px; width:100%;    font-size: 14px; text-shadow: none;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none;  -moz-appearance: none;  -ms-appearance: none; -o-appearance: none;  appearance: none;}
.contact-form h3 { font-size: 20px; color: #cccccc; margin-bottom: 15px;}

/*Testimonials CSS*/
.testimonial { background: url(../images/testimonial-bg.jpg) no-repeat; background-size: cover; background-attachment: fixed;     padding: 50px 0px;}
.testimonial h2 { color: #fff; margin: 0px; font-size: 20px; margin-bottom: 18px; font-family: 'Product Sans', Arial, sans-serif;}
.testimonial-area p { color: #999; font-size: 14px; font-weight: 500;}
.testimonial-area i { color: #ccc; font-size: 14px; padding-right: 10px;}
.testimonial-area i:last-of-type { padding-right: 0px; padding-left:10px; }
.testimonial-area { border-left: 2px solid #fff; padding-left: 15px;}
.testimonial-name { color: #956213; font-style: italic; font-size:12px;}

/*Footer CSS*/
footer { background: #13100e; border-top: 2px solid #603913; padding: 15px 0px 25px;}
footer h3 { font-size: 19px; margin: 0px; color: #fff; font-family: 'Product Sans', Arial, sans-serif; margin-bottom: 15px;}
footer ul li { list-style-type:none; }
footer ul li a { font-size: 12px; color: #999; text-shadow: 0px 0px 0px #999; -webkit-transition:.2s; -moz-transition:.2s; -ms-transition:.2s; -o-transition:.2s; transition:.2s;}
footer ul li { list-style-type:none; position:relative; }
footer ul li a:hover { text-decoration:none; color: #fff;}
ul.footer-menu li { padding-left: 10px;}
ul.footer-menu li:after, ul.footer-menu li:before { position:absolute; content:""; width:5px; height:1px; background:#999; left: 0px; -webkit-transform: rotate(45deg);  -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); top: 8px;}
ul.footer-menu li:before { -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); top: 11px;}
ul.social-icon li a { font-size: 30px;}
ul.social-icon li { display: inline-block; float: left; margin-right: 12px;}
ul.social-icon li:last-of-type { margin-right: 0px;}
.news .media-body { font-size: 9px; color: #999; text-shadow: 0px 0px 0px #999; max-width: 119px;}
.news .media-body:hover .media-heading{ text-decoration:none; color:#fff; }
.newsletter input[type="text"], .newsletter input[type="email"] { width: 100%; border: 2px solid #666666; background: transparent; padding: 5px 15px; line-height: 1.2;  font-size: 12px; color:#fff; margin-bottom: 12px;}

/*ontentarea*/
.light_bg {background: rgba(255, 255, 255, 0.2); padding: 40px 20px; margin: -2px 0 0 0;}
.page_title h2{font-size: 18px; font-family: 'Product Sans'; color: #999; text-transform: uppercase; padding-left: 20px;    float: left;}
.content h3 { color: #fff; font-size: 22px;}
.content p { color: #e5e5e5; font-size: 14px;}
ul.menu{ list-style:none;}
a.btn-nav {color: #fff; background-color: #413214; border: 3px solid #563f1b; padding: 7px 4px 4px 20px; display: inline-block;
clear: both; font-size: 12px; width: 85%; max-width: 235px; text-transform: uppercase; position: relative; margin-top: 1px; -webkit-transition: .4s; -moz-transition: .4s; -ms-transition: .4s; -o-transition: .4s; transition: .4s;}
.seprater-solid{border: 1px solid #613914; margin: 15px 0px 25px; width: 85%;}
.comercial-menu p {width: 85%; color: #e5e5e5;}
.content:before {position: absolute; content: ''; background: #613914; height: 100%;  width: 2px; left: -25px;}
.inner-banner-area img { width: 100%; margin: 0 auto;}
.light_bg > p {color: #fff; font-size: 15px;}
.content-resource:before {position: absolute; content: ''; border-left:3px dashed #613914; height: 100%;  width: 3px; left: -25px;}
.content-resource {position: absolute; background: #dddcdc; box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3); padding: 10px 50px;  top: 0; max-width: 590px;}
.content-resource h3 {font-size: 18px; color: #413214; font-weight: bold; letter-spacing: 1px;}
.link-list a {display: inline-block; width: 45%; font-family: 'OpenSans'; color:#333; font-size:14px; text-shadow: 0 0 0 #333;}
.link-list a i { color: #705936;}
.com-team h3 {font-size: 16px; color: #fff; font-family: 'OpenSans'; text-shadow: 0 0 0 #fff; text-transform: uppercase;}
.team {width: 48%; display: inline-block; margin: 15px 5px; padding: 10px; background: #fff; box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.4);}
.emp_img {display: inline-block; width: 30%; float: left; height:154px;}
.emp_detail {width: 70%; display: inline-block; padding: 0 5px; font-family: 'OpenSans';}
.emp_detail ul {list-style: none;}
.emp_detail ul li:nth-child(1){ font-size:16px; color:#563f1b; text-shadow:0 0 0 #563f1b; padding:5px 0;}
.emp_detail ul li:nth-child(2){ font-size:12px; color:#666; text-shadow: 0 0 0 #000; padding:5px 0;}
.emp_detail ul li:nth-child(3) a{ font-size:14px; color:#666; text-shadow: 0 0 0 #000; padding:5px 0;}
.devider { margin: 15px 0;}
.page_title {display: block; margin:0;}
.rules {display: block; text-align: right;}
.rules .btn-info {padding: 2px 15px;}
.com-team {width: 100%; padding: 0 15px;}
.portfolio h3 {color: #563e1b; font-size: 14px; padding: 10px 0; margin: 0;}
.portfolio {background: #fff; box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.5); padding: 17px; font-family: 'OpenSans'; margin: 0 0 40px 0;}
ul.prop_detail {list-style: none;}
.portfolio p {font-size: 12px; color: #666;}
.portfolio p {font-size: 12px;color: #666; border-bottom: 1px solid #af9c89; padding: 0px 0 10px 0; margin: 5px 0;}
ul.prop_detail { list-style: none; font-size: 12px;  color: #666;}
/*Copyright CSS*/
.copyright { border-bottom: 5px solid #1f1a17; font-size: 13px;  padding: 6px 0px; color: #1f1a17; text-shadow: 0px 0px 0px #1f1a17;}
a.to-top { position: fixed; right: 20px; bottom: 6px; width: 28px; height: 28px; text-align: center; line-height: 28px; background: #1d1d1d; color: #fff; font-size: 20px; display:none; -webkit-transition:.4s; -moz-transition:.4s; -ms-transition:.4s; -o-transition:.4s; transition:.4s;}
a.to-top.active { display: block;}
a.to-top:hover { background: #f00;}
.nav-tabs > li > a.btn-info {color: #fff; background-color: #413214; border: 3px solid #563f1b; padding: 2px 20px;  display: inline-block; clear: both; font-size: 14px; text-transform: uppercase; position: relative; margin-top: 10px;   -webkit-transition: .4s;  -moz-transition: .4s;  -ms-transition: .4s;  -o-transition: .4s; transition: .4s; border-radius: inherit; font-family: 'OpenSans';}
ul.nav.nav-tabs {float: right; margin-right:13px;}

.tab ul li.active a { background:#4f4c4b; color:#fff; border-color:#4f4c4b;}
.calc_form {width: 100%; max-width: 100%; background: #ebebeb; padding: 15px 20px 15px 15px;}
label.col-sm-6.control-label {text-align: left;}
.calc_heading h1 {font-size: 24px; color: #fff; margin:3px 0;}
.calc_heading small {font-size: 14px; color: #fff; text-transform: uppercase; margin: 0px; padding: 0;}
.table-responsive {width: 100%; max-width: 70%;background: #ededed;}
input.checkbox{ margin:0 auto;}
table.table.table-bordered p {font-size: 10px;}
.table-responsive strong {color: #613914; font-weight: normal; text-shadow: 0 0 0 #613914;}
.table-responsive {font-weight: 600;}
p.star {padding: 10px; font-weight: normal; font-size: 12px;}
p.discription strong {color: #000; text-transform: uppercase; font-family: 'Roboto-Regular';}
p.discription {font-size: 14px; font-family: 'Roboto-Regular';}
p.print_screen a i {font-size: 20px; text-decoration:none; color:#fff;}
p.print_screen a {font-size: 14px; text-decoration:none; color:#fff;}
p.print_screen {text-align: right;}
.discription, .discription p {color: #fff; padding: 10px 0;}
.side {float: right; position: relative; max-width:90%;}
.side:before {position: absolute; content: ''; left: -53px; background: url(../images/arrow.png) no-repeat; height: 40px;    width: 40px; top: 75px;}
.fa-calendar:before {content: "\f073"; position: absolute; top: -5px; right: 15px; background: #ebebeb; color: #524e4c; width: 33px;   text-align: center; font-size: 20px;}
table.table.table-bordered input {background: #fff; border: 1px solid #999;}
tr.headding td {border: 0 !important;}
tr.headding {background: #999; color: #fff; font-weight: normal; border: 0;}
.contact_us {background: #fff; padding: 15px 10px; position:relative; font-family: 'OpenSans'; box-shadow: -5px 5px 5px #333;}
.contact_us:before {position: absolute; content: ''; background: #603913; width: 2px; height: 100%; left: -31px; top: 0;}
label.form-control {background: transparent; box-shadow: 0 0 0 #fff; color: #2d2621; padding: 0; margin: 0; font-size: 16px; font-weight: normal; text-shadow: 0 0 0 #2d2621;}
.radio-inline{font-size: 12px;line-height: 20px; padding-left:7px; }
.submit_btn {background: #413214; color: #fff; height: 30px; width: 96px; text-align: center; font-size: 14px; font-family: 'Product Sans'; border: 3px solid #bfab8a; line-height: 1px;}

.address {width: 31%;}
.addres_box {background: #fff; width: 85%; padding: 1px 10px; margin: 0; box-shadow: -5px 5px 5px #333; margin-bottom:20px;}
.addres_box h4 {text-shadow: 0 0 0 #333; margin: 0; padding: 5px 0;}
.addres_box ul {list-style: none; font-size: 12px; padding: 5px 0;}
.addres_box ul {list-style: none; font-size: 12px;}
.addres_box a{ text-decoration:none; color:#666;}
.addres_box a:hover{ text-decoration:none; color:#666;}
.addres_box p {color: #666;}



.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required.form-control-color-input {
    width: 100%;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-validation-errors {
    color: red !important;
    font-weight: bold;
}
.currdate {
    font-size: 17px !important;
    font-weight: bold;
}
.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    color: green !important;
    font-weight: bold;
}

/*==============================my style css=========================*/
.color-input{
	background:#FFF;
	color:#000;
	border-radius:4px;
	}
.single{
	color:#FFF;
}
.alignleft {
    float: center;
}
.alignright {
	float: right;
}
.text-aria-group{
	width:100%;
}
.information-aria{
	width:100%;
	background: rgba(255, 255, 255, 0.2);
	margin-top:10px;
	font-weight:bold;
	padding: 6px 0px 6px 6px;
	color:#FFF;
}
.information-aria span{
	color:#FFF;
	padding-left:5px;
}
.note{
	color:#FFF;
}
.color-input {
    background: #FFF;
    color: #000;
    border-radius:0;
}
label.control-label.single.information-aria span {
    color: #000;
    width: 100%;
  background: rgba(255, 255, 255, 0.2);
    padding: 7px 32px 9px 31px;
	color:#FFF;
	border:1px solid #FFF;
	
}
/*===========================end===my style css=====================*/
/*17-feb-2016*/
.text-left p a {
    font-weight: 600;
}
.text-left p {
    margin: 0;
}
label.radio-btn span {font-size: 12px; margin: 0 5px 0 0; vertical-align: top;}
ul.sub-menu {z-index: 99999999999;}
.page_title h2 {margin: 10px 0px;}

@media(max-width:980px){
	.menu-area ul li a { padding: 12px 7px; font-size: 11px;}
	footer h3 { font-size: 17px;}
}

@media(max-width:890px){
	.menu-area ul{ display:none; }
	.mobile-btn{ display:block;}	
	.menu-area ul { float: none; clear: both; margin-left: -15px; margin-right: -15px;}
	.search-box { display: block; margin-top: 5px; position: absolute; right: 15px; top: 1px;}
	.menu-area ul li { float: none; display:block; border-bottom: 1px solid rgba(255, 255, 255, 0.07); }
	.menu-area ul li a { padding: 12px 15px;}
	.menu-area ul > li > ul { position: relative; min-width: 100%; border-bottom: 0px solid #8C5F3C; padding-bottom: 0px;    margin: 0px; padding: 0px 30px;}
	.menu-area ul > li > ul li:last-of-type{ border-bottom:0px solid;}
	.menu-area ul > li > ul li:after { position: absolute; content: ""; width: 6px; height: 1px; background: #fff; top: 16px; transform: rotate(45deg); left:5px;}
.menu-area ul > li > ul li:before {  position: absolute; content: ""; width: 6px; height: 1px; background: #fff; top: 20px;	left:5px; transform: rotate(-45deg);}
	footer h3 { font-size: 15px;}
	
}

@media(max-width:850px){
	.slide-des { max-width: 580px;}
	.slide-heading { font-size: 24px; max-width: 350px; line-height: 1.2;}
	.carousel-caption {  height: 140px; padding: 0px 15px;}
	.link-list a{ display:block; width:100%;}
}

@media(max-width:767px){
	.contact-form { max-width: 400px; margin: 30px 0px 0px; float: none !important; margin: 30px auto 0px;}
	footer .col-xs-6 { min-height: 160px;}	
	.link-list a{ display:inline-block; width:45%;}
	.content-resource:before{ display:none;}
	.team{ width:100%;}
	.table-responsive{max-width:100%;}
	.contact_us{ margin:0 15px;}
	.address {width: 100%;}
	.addres_box{ width:100%;}
}

@media(max-width:640px){
	.logo { width: 25%;}
	.header-menu { width: 75%;}
	.header-menu nav a { font-size: 11px; padding: 0px 3px;}
	.slide-heading { font-size: 18px; max-width: 260px; line-height: 1.2;}
	.slide-des { max-width: 100%; font-size:13px; }	
}

@media (max-width: 550px){
	.logo { width: 100%; text-align: center;}
	.header-menu { width: 100%; text-align: center;}
	.header-menu nav { padding: 8px 0px 0px;}
	.banner-area .carousel-inner .item > img { height: 230px;}
	.carousel-caption { height: auto; margin-top: 20px;}
	.btn-info {  padding: 4px 50px 4px 20px;}
	.btn-info i { right: 15px;}
	footer .col-xs-6 { min-height: auto; width: 100%; padding-top: 10px; padding-bottom: 0px;}
	footer .col-xs-6 + .col-xs-6 { border-top: 1px solid rgba(255, 255, 255, 0.11); border-top-style: dashed;}
	.footer-content { display: none;}
	footer h3{ cursor:pointer; position:relative; }
	.footer-content{ margin-bottom:20px; clear: both; float: left; width: 100%;}
	footer h3:after { position: absolute; content: ""; width: 0px; height: 0px; border-top: 7px solid #fff; border-left: 7px solid transparent; border-right: 7px solid transparent; right: 0px; top: 6px; -webkit-transition:.4s; -moz-transition:.4s; -ms-transition:.4s; -o-transition:.4s; transition:.4s;}
	h3.active:after { -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}
	.page_title h2{ float:none;}
	.rules {text-align: left; margin: 0 20px;}
	a.btn-nav{ width:100%; max-width:100%;}
	.link-list a{ display:block; width:100%;}
	.emp_detail ul li:nth-child(3) a{ font-size:13px;}
	
	
}
@media(max-width:480px)
{
	.calc_form{max-width:100%;}
	.table-responsive{ max-width:100%; border-top: 2px solid #613914;}
	
	}

@media(max-width:400px){
	.emp_img{ width:100%; float:none;}
	.emp_detail{ width:100%; padding:5px 0;}
	}

@media (max-width:360px){
	.rules .btn-info {font-size: 11px;}	
	label.form-control { font-size:15px;}
	
	}
.nav-single a {
    padding: 17px 19px;
    height: 14px;
    border: 4px solid #4B0013;
    background-color: #98040B;
    background-image: -moz-linear-gradient(center top , #98040B, #76011D);
    box-shadow: 0px 0px 3px #000;
    overflow: hidden;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 0px;
    color: #FFF !important;
    display: inline-block;
    float: right;
}
.wrapper .major-adjust{width:16%;}
	.wrapper .major-adjust{float:left}
	.wrapper{overflow:hidden;}
.info {
    float: left;
    width: 80%;
}
.wrapper.clearfix {
    border-bottom: 1px solid #fff;
    padding: 25px 0 6px;
}

.wsp-pages-title {
    color: #fff !important;
}
.wsp-posts-title {
    color: #fff !important;
}

.wsp-testimonials-title {
    color: #fff !important;
}
.wsp-teams-title {
    color: #fff !important;
}
.wsp-portfolios-title {
    color: #fff !important;
}
.wsp-team-types-title {
    color: #fff !important;
}
